.App {
  text-align: center;
  background-color: #17121b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  height: 50px;
  width: 100%;
  margin: 0;
  text-align: start;
  color: black;
  background-color: cyan;
}
